/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 123px;
    height: 44px;
}

/* Hero Area */
header{
    background-color: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    width: 1160px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    column-gap: 2em;
}
nav ul li{
    list-style: none;
}
nav ul li>a{
    text-decoration: none;
    color: #fff;
}
.fa-arrow-right-to-bracket{
    position: relative;
    right: 8px;
}