/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1160px;
    margin-top: 42px;
}
.btn{
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 24px;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 123px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.btn:hover{
    background-color: #e02c6ece;
}

/* Navigation */
header{
    height: 680px;
    background-color: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-container{
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}
nav > ul{
    display: flex;
    column-gap: 2em;
}
nav ul li{
    list-style: none;
}
nav ul li>a{
    text-decoration: none;
    color: #fff;
}
.fa-arrow-right-to-bracket{
    position: relative;
    right: 8px;
}

/* Hero Area */
.hero-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3em;
}
.hero-info{
    position: relative;
    bottom: 30px;
}
.hero-info h1{
    color: #fff;
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
}
.hero-btn{
    position: relative;
    top: 25px;
}
.fa-arrow-right{
    margin-left: 8px;
}
.hero-banner img{
    width: 556.01px;
    transition: .8s ease-in-out;
}
header:hover .hero-banner img{
    transform: rotate(15deg);
}

/* Main Area For Players */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container{
    width: 1060px;
    margin: 60px 0;
}
.player-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
}
.player-info{
    margin-top: 16px;
}
.player-info h3{
    color: #18191F;
    font-size: 28px;
}
.player-info > p{
    color: #6C6C6C;
    padding-top: 10px;
}


/* Footer Area */
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.footer-container img{
    width: 483px;
}

.fa-instagram, .fa-dribbble, .fa-twitter, .fa-youtube{
    width: 32px;
    height: 32px;
    background-color: #E7E7E8;
    color: #969BAB;
    border-radius: 16px;
}
.fa-brands:before{
    position: relative;
    top: 8px;
    left: 8px;
}
.footer-container p{
    font-size: 18px;
    margin-bottom: 44px;
}



/* -------------------------------------------Media Queries-------------------------------------------- */

/* For Mobile */
@media only screen and (max-width:688px){
    /* Utilities */
    header{
        height: 585px;
    }
    .container{
        width: 90%;
    }
    .nav-container{
        display: none;
    }
    /* Hero Area */
    .hero-area {
        grid-template-columns: 1fr;
        row-gap: 50px;
        padding: 15px;
    }
    .hero-info > h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .hero-banner img{
        width: 329px;
        height: 259.17px;
    }

    /* Main Area For Players */
    main {
        flex-direction: row;
        justify-content: center;
    }
    .main-container {
        width: 90%;
        margin: 60px 0;
        
    }
    .player-cards {
        grid-template-columns: 1fr;
    }
    .player-info h3 {
        font-size: 22px;
    }

    /* Footer Area */
    .footer-container img{
        margin-bottom: -5px;
    }
}

/* For Tablet */
@media only screen and (min-width: 688px) and (max-width: 992px){
    /* Utilities */
    header{
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 90%;
        margin-top: 0;
    }
    .nav-container{
        display: none;
    }
    .hero-area {
        column-gap: 0;
        padding: 0px 30px;
    }
    .hero-info > h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .btn{
        padding: 8px 15px;
    }
    .hero-banner img {
        width: 370px;
    }

    /* Main Area For Players */
    .main-container {
        width: 90%;
    }
    .player-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 30px;
    }

    /* Footer Area */
    .footer-container img{
        margin-bottom: -10px;
    }
}

    /* For Notebook */

@media only screen and (min-width: 992px) and (max-width: 1366px) {
    /* utilities */
    header {
        height: 540px;
    }
    .container {
        width: 90%;
    }
    
    /* Hero Area */
    .hero-area {
        column-gap: 0;
    }
    .hero-info > h1 {
        font-size: 50px;
        line-height: 65px;
    }
    .hero-banner img {
        width: 100%;
    }

    /* Main Area For Players */
    .main-container {
        width: 90%;
    }
    .player-cards {
        gap: 25px;
    }
    .player-info h3 {
        font-size: 25px;
    }

    /* Footer Area */
    .footer-container img {
        width: 35%;
    }
}