/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1160px;
    margin-top: 42px;
}
.btn{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 123px;
}

/* Navigation */
header{
    height: 680px;
    background-color: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-container{
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}
nav > ul{
    display: flex;
    column-gap: 2em;
}
nav ul li{
    list-style: none;
}
nav ul li>a{
    text-decoration: none;
    color: #fff;
}
.fa-arrow-right-to-bracket{
    position: relative;
    right: 8px;
}

/* Hero Area */
.hero-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3em;
}
.hero-info{
    position: relative;
    bottom: 30px;
}
.hero-info > h1{
    width: 485px;
    height: 230px;
    color: #fff;
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
}
.hero-btn{
    position: relative;
    top: 36px;
}
.fa-arrow-right{
    margin-left: 8px;
}
.hero-banner img{
    width: 556.01px;
}

/* Main Area For Palyers */